<div class="row">
  <%= render 'layouts/navgroup' %>
  <div class="clearfix">
    <div class="dash-welcome row">
      <h1>Welcome, <%= current_user.fname %></h1>
      <p>We can’t wait to help your team start playing better.</p>
    </div>
  </div>
</div>
