<div class="sports-item col-sm-6 col-md-4">
  <a href="<%= new_session_path %>">
    <div class="thumbnail">
      <%= image_tag "#{img}" %>
      <div class="caption">
        <span><%= sport %></span>
      </div>
    </div>
  </a>
</div>
