<div class="sports-item col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="<%= url %>" alt="<%= sport %>">
    <div class="caption">
      <span><%= sport %></span>
    </div>
  </div>
</div>
