<form id="sports_form" action="">
  <h3>Sports</h3>
  <p>Select all the sports you want to play</p>
  <div class="form-group">
    <% sports.each(function(sport) { %>
      <div class="checkbox form-group">
        <label>
          <% var checked = ((App.currUser.sports().findWhere({name: sport.get('name') }) != undefined) ? "checked" : "") %>
          <input type="checkbox" name="sport_ids[]" <%= checked %> value="<%= sport.id %>">
          <%= sport.get('name') %>
        </label>
      </div>
    <% }) %>
  </div>
  <div class="form-group">
    <label for="experience">Experience</label>
    <textarea class="form-control" id="experience" name="experience" placeholder="Describe your experience"><%= App.currUser.escape('experience') %></textarea>
  </div>
  <input type="hidden" id="playing-area" name="playing_area">
    <button type="submit"  class="btn btn-default">Submit</button>
</form>
