<section class="header dashboard-head">
</section>
<section id="dashboard-content" class="container">
  <div class="row">
    <div class="sections col-md-8 col-xs-12">
      <h3>Choose Desired Playing Area</h3>
      <div class="map-container">
      </div>
      <div class=".map-controls">
        <a href="#" class="clear-map btn btn-default">Clear Map</a>
      </div>
    </div>
    <div class="sidebar form-sidebar col-md-4">
    </div>
  </div>
</section>
