<div class="thumbnail">
  <img src="./assets/<%= sport.get('name').toLowerCase() %>.gif" width="36" height="36" alt="<%= sport.get('name') %>">
  <div class="sport-title">
    <span><%= sport.get('name') %></span>
  </div>
</div>
