<label class="sport" >
  <input type="radio" name="sport" class="btn btn-default" value="<%= sport.id %>">
  <img src="/assets/<%= sport.get('name').toLowerCase() %>.gif" width="36" height="36" alt="<%= sport.get('name') %>">
  <div><%= sport.get('name') %></div>
</label>
