<section class="header dashboard-head">
</section>
<section id="dashboard-content" class="container">
  <div class="row">
    <div class="sections col-xs-offset-2 col-xs-8">
      <div class="your-sports">
        <h3>Sports <%= player.escape('name') %> is playing</h3>
      </div>
  </div>
</section>
