<section class="header dashboard-head">
</section>
<section class="row">
  <div class="row col-sm-offset-2 col-sm-8 col-xs-12">
    <h3>Search results</h3>
    <div>Here are some players playing <%= sport.get('name').toLowerCase() %> </div>
    <div class="results"></div>
  </div>
</section>
