<section class="header dashboard-head">
</section>
<section class="row">
  <div class="col-sm-offset-2 col-sm-8 col-xs-12">
    <!-- <div class="game-info col-xs-offset-1 col-xs-10">

      </div>-->
    <h3 col-xs-12>Search results</h3>
    <% if (sport.get('name')) { %>
      <% sportName = sport.get('name').toLowerCase() %>
      <div>Here are some people playing <%= sportName %> near <%= game.get('address') %></div>
    <% } %>
    <div class="results"></div>
  </div>
</section>
