<section class="header dashboard-head">
</section>
<section class="row">
  <div class="row col-sm-offset-2 col-sm-8 col-xs-12">
    <h3>Search results</h3>
    <% if (sport.get('name')) { %>
      <% sportName = sport.get('name').toLowerCase() %>
      <div>Here are some players playing <%= sportName %> in that area</div>
    <% } %>
    <div class="results"></div>
  </div>
</section>
