<section class="header dashboard-head">
</section>
<section id="search-form" class="container">
  <div class="row">
    <div class="sections col-xs-12">
      <div class="location">
        <div class="criteria">
          <h3>Where is your game?</h3>
          <input type="text" class="form-control" id="searchTextField">
        </div>
      </div>
    </div>
  </div>
</section>
