<section class="header dashboard-head">
</section>
<section id="dashboard-content" class="container">
  <div class="row">
    <div class="sections col-xs-offset-2 col-xs-8">
      <div class="schedule-game">
        <h3>Schedule a game to find players</h3>
        <div class="add-event">
          <a href="" class="add-game btn btn-default">Find Players</a>
        </div>
        <div class="your-games">
          <h3>Games you have scheduled</h3>
          <p>These are the games you currently have scheduled</p>
        </div>
      </div>
      <div class="your-sports">
        <h3>Sports You're Playing</h3>
        <div>
          <p>These are the sports which other users can request you to play</p>
        </div>
      </div>
      <div class="add-event">
        <p>Add more sports or change your playing area to increase your chances of being asked to play</p>
        <a href="" class="add-sport btn btn-default">Update sports or playing area</a>
      </div>
    </div>
    <!-- <div class="sidebar col-md-4 hidden-xs hidden-sm">
      </div> -->
  </div>
</section>
