<section class="header dashboard-head">
</section>
<section id="dashboard-content" class="container">
  <div class="row">
    <div class="sections col-md-8 col-xs-12">
      <div class="your_sports">
      </div>
      <div class="area-players">
      </div>
    </div>
    <div class="sidebar col-md-4 hidden-xs hidden-sm">
    </div>
  </div>
</section>
