<div class="row">
  <%= render 'layouts/navgroup' %>
  <div class="jumbotron clearfix">
    <% unless ['users','sessions'].include?(params[:controller])  %>
      <% if signed_in? %>
        <h1>Welcome, <%= current_user.fname %></h1>
      <% else %>
        <h1>WreckYourLeague</h1> 
      <% end %>
    <% end  %>
  </div>
</div>
<h3>It's time to start winning.</h3>
<div class="gs-btn">
  <a href="#sports" id="sports-btn" class="btn btn-default">Get Started</a>
</div>
